@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.header-container {
    margin-bottom: 16px;
    overflow: hidden;
}

a {
    color: #e7e7e7;
    text-decoration: none;
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}

.row-container {
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
    justify-content: space-evenly;
}

.user-container {
    display: flex;
    justify-content: space-between;
}

.header-icon {
    cursor: pointer;
    margin-top: 4px;
    margin-left: 10px;
}