<div class="profile-picture-container">
    <ng-container *ngIf="isEdit; then editPicture; else addPicture"></ng-container>
    <ng-template #addPicture>
        <h1>Add your profile picture</h1>
    </ng-template>
    <ng-template #editPicture>
        <h1>Update your profile picture</h1>
    </ng-template>
    <div class="upload-container">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
            {{fileName || "No file uploaded yet."}}
            <button type="button" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
    </div>
    <div style="display:flex; justify-content: center;">
        <button mat-raised-button style="color:green;" [disabled]="!this.profilePictureFileNameForm.dirty" (click)="closeDialog('confirm')">
            Confirm
        </button>
        <button mat-raised-button color="warn" style="margin-left:10px" (click)="closeDialog()">
            Cancel
        </button>
    </div>
</div>