<div class="filter-form-container">
    <h1>Adjust filter for {{this.modelType}}</h1>
    <div [ngSwitch]="this.modelType">
        <div *ngSwitchCase="'Game'">
            <form [formGroup]="filterForm" class="form-container">
                <div class="form-row">
                    <mat-form-field>
                        <mat-label>Search</mat-label>
                        <input matInput formControlName="searchTerm" placeholder="Enter search term." #input>
                    </mat-form-field>
                    <mat-icon class="search-icon" matTooltip="Clear Search Term" color="warn" class="clear-style" (click)="clearSearch()">
                        clear
                    </mat-icon>
                </div>
                <mat-form-field MatFormFieldAppearance="outline">
                    <label>Sort By</label>
                    <mat-select placeholder="Choose field to sort by." formControlName="sort" name="sort" id="sort" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of sortItems" [value]="item.sql">
                            {{item.display}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field MatFormFieldAppearance="outline">
                    <label>Sort Direction</label>
                    <mat-select placeholder="Choose direction to sort by." formControlName="direction" name="direction" id="direction" required>
                        <mat-option>--</mat-option>
                        <mat-option value="asc">Ascending</mat-option>
                        <mat-option value="desc">Descending</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field MatFormFieldAppearance="outline">
                    <label>Pagination</label>
                    <mat-select placeholder="Choose whether to paginate data." formControlName="pagination" name="pagination" id="pagination" required>
                        <mat-option>--</mat-option>
                        <mat-option value="true">True</mat-option>
                        <mat-option value="false">False</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="this.filterForm.controls.pagination.value === 'true'">
                    <mat-form-field MatFormFieldAppearance="outline">
                        <label>Page Size</label>
                        <mat-select placeholder="Choose how many games to load." formControlName="limit" name="limit" id="limit">
                            <mat-option value="5">5</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="20">20</mat-option>
                            <mat-option value="50">50</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div *ngSwitchCase="'Achievement'">
            <form [formGroup]="filterForm" class="form-container">
                <div class="form-row">
                    <mat-form-field>
                        <mat-label>Search</mat-label>
                        <input matInput formControlName="searchTerm" placeholder="Enter search term." #input>
                    </mat-form-field>
                    <mat-icon class="search-icon" matTooltip="Clear Search Term" color="warn" class="clear-style" (click)="clearSearch()">
                        clear
                    </mat-icon>
                </div>
                <mat-form-field MatFormFieldAppearance="outline">
                    <label>Sort By</label>
                    <mat-select placeholder="Choose field to sort by." formControlName="sort" name="sort" id="sort" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of sortItems" [value]="item.sql">
                            {{item.display}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field MatFormFieldAppearance="outline">
                    <label>Sort Direction</label>
                    <mat-select placeholder="Choose direction to sort by." formControlName="direction" name="direction" id="direction" required>
                        <mat-option>--</mat-option>
                        <mat-option value="asc">Ascending</mat-option>
                        <mat-option value="desc">Descending</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field MatFormFieldAppearance="outline">
                    <label>Pagination</label>
                    <mat-select placeholder="Choose whether to paginate data." formControlName="pagination" name="pagination" id="pagination" required>
                        <mat-option>--</mat-option>
                        <mat-option value="true">True</mat-option>
                        <mat-option value="false">False</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="this.filterForm.controls.pagination.value === 'true'">
                    <mat-form-field MatFormFieldAppearance="outline">
                        <label>Page Size</label>
                        <mat-select placeholder="Choose how many achievements to load." formControlName="limit" name="limit" id="limit">
                            <mat-option value="5">5</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="20">20</mat-option>
                            <mat-option value="50">50</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div *ngSwitchCase="'UserAchievement'">
            <form [formGroup]="filterForm" class="form-container">
                <div class="form-row">
                    <mat-form-field>
                        <mat-label>Search</mat-label>
                        <input matInput formControlName="searchTerm" placeholder="Enter search term." #input>
                    </mat-form-field>
                    <mat-icon class="search-icon" matTooltip="Clear Search Term" color="warn" class="clear-style" (click)="clearSearch()">
                        clear
                    </mat-icon>
                </div>
                <mat-form-field MatFormFieldAppearance="outline">
                    <label>Sort By</label>
                    <mat-select placeholder="Choose field to sort by." formControlName="sort" name="sort" id="sort" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of sortItems" [value]="item.sql">
                            {{item.display}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field MatFormFieldAppearance="outline">
                    <label>Sort Direction</label>
                    <mat-select placeholder="Choose direction to sort by." formControlName="direction" name="direction" id="direction" required>
                        <mat-option>--</mat-option>
                        <mat-option value="asc">Ascending</mat-option>
                        <mat-option value="desc">Descending</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field MatFormFieldAppearance="outline">
                    <label>Pagination</label>
                    <mat-select placeholder="Choose whether to paginate data." formControlName="pagination" name="pagination" id="pagination" required>
                        <mat-option>--</mat-option>
                        <mat-option value="true">True</mat-option>
                        <mat-option value="false">False</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="this.filterForm.controls.pagination.value === 'true'">
                    <mat-form-field MatFormFieldAppearance="outline">
                        <label>Page Size</label>
                        <mat-select placeholder="Choose how many achievements to load." formControlName="limit" name="limit" id="limit">
                            <mat-option value="5">5</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="20">20</mat-option>
                            <mat-option value="50">50</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div style="display:flex; justify-content: center;">
        <button mat-raised-button style="color:green;" (click)="closeDialog('confirm')">
            Confirm
        </button>
        <button mat-raised-button color="warn" style="margin-left:10px" (click)="closeDialog()">
            Cancel
        </button>
    </div>
</div>