.game-info-component {
    display: flex;
    margin: 2rem 2rem 2rem 2rem;
    overflow-y: auto;
}

.game-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.info-column {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 0
}

p {
    margin: 0
}

.image-column {
    display: flex;
    flex-direction: column;
}

.game-image {
    width: 200px;
    height: 200px;
}

.achievement-container {
    margin-top: 10px;
    height: 50%;
    overflow-y: auto;
}