.form-column {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-achievement-container {
    display: flex;
    flex-direction: column;    
}