<div [ngSwitch]="type">
    <div *ngSwitchCase="'userFriend'">
        <div class="line">
            <mat-icon [inline]="true" class="profile-icon">
                account_circle
            </mat-icon>
        </div>
        <div style="margin-top: 10px;" class="line">
            <mat-icon [inline]="true" class="profile-icon">
                account_circle
            </mat-icon>
        </div>
        <div style="margin-top: 10px;" class="line">
            <mat-icon [inline]="true" class="profile-icon">
                account_circle
            </mat-icon>
        </div>
        <div style="margin-top: 10px;" class="line">
            <mat-icon [inline]="true" class="profile-icon">
                account_circle
            </mat-icon>
        </div>
        <div style="margin-top: 10px;" class="line">
            <mat-icon [inline]="true" class="profile-icon">
                account_circle
            </mat-icon>
        </div>
    </div>
</div>