.form-column{
    display: flex;
    flex-direction: column;
}

.game-column{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    max-height: 50px;
}

.search-form-container{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.board-container {
    display: flex;
    flex-direction: column;
}

.no-boards-container {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #673ab7;
    border-radius: 10px;
    height: 400px;
}

.board-item {
    padding: 3px 3px 3px 3px;
}

.thread-container {
    display: flex;
    flex-direction: column;
}

.no-threads-container {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #673ab7;
    border-radius: 10px;
    height: 400px;
}

.thread-item {
    padding: 3px 3px 3px 3px;
}

.game-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.no-games-container {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #673ab7;
    border-radius: 10px;
    height: 400px;
}

.game-margin {
    padding: 3px 3px 3px 3px;
}

.loading-container {
    display: grid; 
    place-items: center;
}

.actions-style{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.achievement-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.no-achievements-container {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #673ab7;
    border-radius: 10px;
    height: 400px;
}

.achievement-margin {
    padding: 3px 3px 3px 3px;
}

.profile-page {
    width: 200px;
    height: 200px;
}

.profile-icon {
    font-size: 200px;
    cursor: pointer;
    max-height: 200px;
}

.submit-row {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 200px;
    height: 200px;
}

.image-cropper {
    cursor: pointer;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.tab-group-container {
    max-width: 80%;
    width: 80%;
}

.paginator-style {
    display: flex;
    justify-content: center;
}