.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.loading-container {
    display: grid; 
    place-items: center;
}

.send-message-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.input-style {
    margin-top: 15px;
    font-size: 15px;
    width: 500px;
}

.icon-style {
    font-size: 25px;
    cursor: pointer;
    color: #673ab7;
}

.disabled-icon {
    color: grey;
    font-size: 25px;
}

.messages-container {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #673ab7;
    border-radius: 10px;
    width: 80vw;
    height: 60vh;
}

.message-item {
    width: inherit;
    display: flex;
    flex-direction: column;
}

.sent-message-card {
    float: right;
    background-color: #7049b4;
    color: white;
}

.received-message-card {
    float: left;
    background-color: #b14581;
    color: white;
}

.sent-timestamp-style {
    display: flex;
    flex-direction: column;
    float: right;
}

.received-timestamp-style {
    display: flex;
    flex-direction: column;
    float: left;
}

p {
    margin: 0;
    padding: 0px;
}