.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.loading-container {
    display: grid; 
    place-items: center;
}

.messages-container {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #673ab7;
    width: 80vw;
    height: 60vh;
    max-width: 80vw;
    max-height: 60vh;
    overflow-y: scroll;
}

.sent-message-container {
    display: flex;
    flex-direction: column;
    float: right;
}

.received-message-container {
    display: flex;
    flex-direction: column;
    float: left;
}

.sent-image-style {
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
    width: 50%;
    height: 50%;
    float: right;
    cursor: pointer;
}

.received-image-style {
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
    width: 50%;
    height: 50%;
    float: left;
}

.sent-message-card {
    background-color: #7049b4;
    color: white;
    cursor: pointer;
}

.received-message-card {
    background-color: #b14581;
    color: white;
}

.sent-timestamp-style {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
}

.received-timestamp-style {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px;
}

p {
    margin: 0;
    padding: 0px;
}


.send-message-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input-style {
    margin-top: 15px;
    font-size: 15px;
    width: 500px;
}

.icon-style {
    font-size: 25px;
    cursor: pointer;
    color: #673ab7;
}

.disabled-icon {
    color: grey;
    font-size: 25px;
}