<div class="child-component">
    <div class="column-container">
        <div class="header-container">
            <h1>Chat with {{otherUser}}</h1>
        </div>
        <div *ngIf="!messagesLoaded" class="loading-container">
            <mat-spinner [diameter]="100"></mat-spinner>
        </div>
        <div *ngIf="messagesLoaded" class="messages-container">
            <div [ngSwitch]="userMessages.length > 0">
                <div *ngSwitchCase="false">
                    <p style="text-align: center;">Currently no messages.</p>
                </div>
                <div *ngSwitchCase="true" fxLayout="column" fxLayoutGap="10px">
                    <div *ngFor="let message of userMessages">
                        <div [ngSwitch]="message.userIDSentMessage == user.userID">
                            <div *ngSwitchCase="true">
                                <div class="sent-message-container">
                                    <div *ngIf="message.messageImage?.includes('data')" (click)="editImageMessage(message)">
                                        <img src="{{message.messageImage}}" class="sent-image-style">
                                    </div>
                                    <mat-card *ngIf="!message.messageImage?.includes('data')" class="sent-message-card" (click)="editUserMessage(message)">
                                        <mat-card-content>
                                            {{message.userMessage}}
                                        </mat-card-content>
                                    </mat-card>
                                    <div class="sent-timestamp-style">
                                        <p *ngIf="message.isRead == 1 && message.userIDReceivedMessage != user.userID" style="margin-right: 10px;">Read</p>
                                        <p>{{prepareMessageDate(message)}}</p>
                                    </div>
                                </div>
                            </div>
                            <div *ngSwitchCase="false">
                                <div class="received-message-container">
                                    <div *ngIf="message.messageImage?.includes('data')">
                                        <img src="{{message.messageImage}}" class="received-image-style">
                                    </div>
                                    <mat-card *ngIf="!message.messageImage?.includes('data')" class="received-message-card">
                                        <mat-card-content>
                                            {{message.userMessage}}
                                        </mat-card-content>
                                    </mat-card>
                                    <div class="received-timestamp-style">
                                        <p *ngIf="message.isRead == 1 && message.userIDReceivedMessage != user.userID" style="margin-right: 10px;">Read</p>
                                        <p>{{prepareMessageDate(message)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="send-message-container mat-elevation-z8">
            <app-image-upload (loadImageEvent)="loadImageEvent($event)"></app-image-upload>
            <form [formGroup]="userMessageForm">
                <mat-form-field appearance="fill" class="input-style">
                    <label>Message</label>
                    <input matInput name="userMessage" id="userMessage" type="text" formControlName="userMessage"
                        placeholder="Enter your message" [maxlength]="255" />
                </mat-form-field>
            </form>
            <button type="button" [disabled]="!userMessageForm.valid || !userMessageForm.dirty"
                matTooltip="Click to send a message." mat-icon-button (click)="onSubmit()">
                <mat-icon [ngClass]="{'icon-style': userMessageForm.valid && userMessageForm.dirty, 'disabled-icon': !userMessageForm.valid}">
                    send
                </mat-icon>
            </button>
        </div>
    </div>
</div>