<mat-card>
    <mat-card-content>
        <img src="{{userGame.game?.gameCover}}" class="game-image">
        <div class="icon-overlay">
            <mat-icon style="background: white;" matTooltip="Click to read information about a game." color="primary"
                (click)="gameInfoPopup(userGame)">
                info
            </mat-icon>
            <mat-icon style="background: white;" matTooltip="Click to edit a game." style="color: green;" (click)="editUserGame(userGame)">
                edit
            </mat-icon>
            <mat-icon style="background: white;" matTooltip="Click to delete a game." color="warn" (click)="deleteUserGame(userGame)">
                delete
            </mat-icon>
        </div>
    </mat-card-content>
</mat-card>