<div class="child-component">
    <div class="add-user-achievement-container">
        <div class="form-row">
            <ng-container *ngIf="isEdit; then editAchievement; else addAchievement"></ng-container>
            <ng-template #addAchievement>
                <h1>Add an Achievement</h1>
            </ng-template>
            <ng-template #editAchievement>
                <h1>Edit an Achievement</h1>
            </ng-template>
        </div>
        <form [formGroup]="addUserAchievementForm" (ngSubmit)="onSubmit()">
            <div class="form-column">
                <div class="form-row">
                    <mat-form-field>
                        <label>Game Name</label>
                        <mat-select placeholder="Select Game" formControlName="gameID"
                            name="gameID" id="gameID" required (selectionChange)="filterAchievementsByGame($event)">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let gameName of allGameNames" [value]="gameName.gameID">
                                {{gameName.gameName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="margin-left: 15px;">
                        <label>Achievement Name</label>
                        <mat-select placeholder="Select Achievement" formControlName="achievementID"
                            name="achievementID" id="achievementID" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let achievementName of allDisplayedNames" [value]="achievementName.achievementID">
                                {{achievementName.achievementName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="form-column">
                <div class="form-row">
                    <mat-form-field>
                        <label>UserID</label>
                        <input matInput name="userID" id="userID" formControlName="userID"
                            placeholder="Enter user." required/>
                    </mat-form-field>
                    <mat-form-field style="margin-left: 15px;">
                        <label>Achievement Status</label>
                        <mat-select placeholder="Select Achievement Status" formControlName="achievementStatus"
                            name="achievementStatus" id="achievementStatus" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let achievementStatus of allAchievementStatuses" [value]="achievementStatus.value">
                                {{achievementStatus.display}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <button mat-raised-button [disabled]="!addUserAchievementForm.dirty || !addUserAchievementForm.valid "
                    type="submit">Submit</button>
                <button mat-raised-button type="button" style="margin-left:10px;"
                    (click)="closeDialog()">Cancel</button>
            </div>
        </form>
    </div>
</div>
