<div class="child-component">
    <div class="example-container">
        <h1>{{thread?.threadName}}</h1>
        <div class="search-form-container">
            <form [formGroup]="threadItemSearchCriteria" style="margin-top: 25px;" (ngSubmit)="applyThreadSearch()">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput formControlName="searchTerm" placeholder="Search Table" #input>
                </mat-form-field>
                <mat-icon style="margin-left: 10px;cursor: pointer; color: green;" (click)="applyThreadSearch()">
                    search
                </mat-icon>
                <mat-icon style="margin-left: 10px;cursor: pointer;" color="warn" (click)="clearThreadSearch()">
                    clear
                </mat-icon>
            </form>
            <button mat-raised-button style="cursor: pointer; margin-top:25px;" color="primary" type="button"
                (click)="addThreadItem()">Post</button>
        </div>
        <br>
        <div *ngIf="!threadItemsLoaded" class="loading-container">
            <mat-spinner [diameter]="100"></mat-spinner>
        </div>
        <div *ngIf="threadItemsLoaded" fxLayout="column" fxLayoutGap="10px" fxFlex.md="70" fxLayoutWrap
            class="thread-item-container mat-elevation-z4">
            <div *ngFor="let threadItem of allThreadItems" class="thread-item">
                <mat-card [ngStyle]="{'margin-left': threadItem.depthStyle}">
                    <mat-card-header>
                        <div [ngSwitch]="threadItem.updatedAt != null">
                            <div *ngSwitchCase="true">
                                <mat-card-title (click)="viewUserProfile(threadItem)">
                                    <span
                                        [ngClass]="{'is-user-style': user.userID == threadItem.userID, 'not-user-style': user.userID != threadItem.userID}">{{getUserNameByUserID(threadItem.userID)}}</span>
                                    edited at {{formatDate(threadItem.updatedAt)}}
                                </mat-card-title>
                                <mat-card-subtitle *ngIf="threadItem.replyingTo">{{replyString}}{{getUserNameByUserID(threadItem.replyingTo)}}</mat-card-subtitle>
                            </div>
                            <div *ngSwitchCase="false">
                                <mat-card-title (click)="viewUserProfile(threadItem)">
                                    <span
                                        [ngClass]="{'is-user-style': user.userID == threadItem.userID, 'not-user-style': user.userID != threadItem.userID}">{{getUserNameByUserID(threadItem.userID)}}</span>
                                    at {{formatDate(threadItem.createdAt)}}
                                </mat-card-title>
                                <mat-card-subtitle *ngIf="threadItem.replyingTo">{{replyString}}{{getUserNameByUserID(threadItem.replyingTo)}}</mat-card-subtitle>
                            </div>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{threadItem?.threadMessage}}</p>
                        <img *ngIf="threadItem?.threadItemImage != undefined && threadItem?.threadItemImage != null && threadItem?.threadItemImage !== ''" src="{{threadItem?.threadItemImage}}" class="thread-item-image">
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="replyToThreadItem(threadItem)">Reply</button>
                        <button *ngIf="this.user.userID == threadItem.userID" mat-button
                            (click)="editThreadItem(threadItem)">Edit</button>
                        <button *ngIf="this.user.userID == threadItem.userID" mat-button
                            (click)="deleteThreadItem(threadItem)">Delete</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>