<div class="child-component">
    <div class="example-container">
        <h1>{{thread?.threadName}}</h1>
        <div class="search-form-container">
            <form [formGroup]="threadItemSearchCriteria" style="margin-top: 25px;" (ngSubmit)="applyThreadSearch()">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput formControlName="searchTerm" placeholder="Search Table" #input>
                </mat-form-field>
                <mat-icon style="margin-left: 10px;cursor: pointer; color: green;" (click)="applyThreadSearch()">
                    search
                </mat-icon>
                <mat-icon style="margin-left: 10px;cursor: pointer;" color="warn" (click)="clearThreadSearch()">
                    clear
                </mat-icon>
            </form>
            <button mat-raised-button style="cursor: pointer; margin-top:25px;" color="primary" type="button"
                (click)="addThreadItem()">Post</button>
        </div>
        <br>
        <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="thread-item-container mat-elevation-z4">
            <div fxFlex *ngFor="let threadItem of allThreadItems" class="thread-item">
                <mat-card [ngStyle]="{'margin-left': threadItem.depthStyle}">
                    <mat-card-header>
                        <mat-card-title
                            [ngClass]="{'is-user-style': user.userID == threadItem.userID, 'not-user-style': user.userID != threadItem.userID}"
                            (click)="viewUserProfile(threadItem)">{{getUserNameByUserID(threadItem.userID)}}
                        </mat-card-title>
                        <mat-card-subtitle>{{threadItem?.threadMessage}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="replyToThreadItem(threadItem)">Reply</button>
                        <button *ngIf="this.user.userID == threadItem.userID" mat-button
                            (click)="editThreadItem(threadItem)">Edit</button>
                        <button *ngIf="this.user.userID == threadItem.userID" mat-button
                            (click)="deleteThreadItem(threadItem)">Delete</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>