<div class="view-user-profile-container">
    <div *ngIf="!userLoaded" class="loading-container">
        <mat-spinner [diameter]="100"></mat-spinner>
    </div>
    <div *ngIf="userLoaded" class="header-container">
        <ng-container *ngIf="viewedUser.profilePicture != null && viewedUser.profilePicture != undefined && viewedUser.profilePicture !== ''; then hasImage; else blankImage"></ng-container>
        <ng-template #hasImage>
            <div class="image-cropper">
                <img src="{{viewedUser.profilePicture}}" class="profile-class">
            </div>
        </ng-template>
        <ng-template #blankImage>
            <div class="profile-icon">
                <mat-icon [inline]="true">
                    account_circle
                </mat-icon>
            </div>
        </ng-template>
        <div class="user-container">
            <h1>{{viewedUser.userName}}</h1>
            <div>
                <p>Member since {{formatDate(viewedUser.createdAt)}}</p>
            </div>
        </div>
        <button mat-raised-button style="cursor: pointer;" color="primary" type="button" [disabled]="requestSent" (click)="sendFriendRequest()">{{buttonMessage}}</button>
    </div>
    <div class="card-container">
        <mat-card class="card-style">
            <mat-card-header>
                <mat-card-title>Thread Highlights</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Content
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card-style">
            <mat-card-header>
                <mat-card-title>Board Highlights</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Content
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card-style">
            <mat-card-header>
                <mat-card-title>Game Highlights</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Content
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card-style">
            <mat-card-header>
                <mat-card-title>Achievement Highlights</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Content
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card-style">
            <mat-card-header>
                <mat-card-title>Friends</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Content
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>