.view-user-profile-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 190px;
    margin-bottom: 10px;
    align-items: center;

}

.user-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.profile-class {
    width: 250px;
    height: 250px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-style {
    width: 30vw;
    height: 60vh;
}

.profile-icon {
    font-size: 250px;
}

.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.mat-card-container {
    overflow-y: auto;
}

.game-item {
    padding: 3px 3px 3px 3px;
}

.thread-item {
    padding: 3px 3px 3px 3px;
}

.name-style {
    white-space: nowrap;
    overflow: hidden;
}

.game-image {
    display: block;
    max-width:300px;
    max-height:100px;
    width: auto;
    height: auto;
}

.content-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.thread-content-container {
    display: flex;
    flex-direction: column;
}

.column-div {
    display: flex;
    flex-direction: column;
    width: inherit;
    row-gap: 10px;
}

.row-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

h3, h4 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.progress-bar {
    width: inherit;
}