<div class="view-user-profile-container">
    <div *ngIf="!userLoaded" class="loading-container">
        <mat-spinner [diameter]="100"></mat-spinner>
    </div>
    <div *ngIf="userLoaded" class="header-container">
        <ng-container
            *ngIf="viewedUser.profilePicture != null && viewedUser.profilePicture != undefined && viewedUser.profilePicture !== ''; then hasImage; else blankImage"></ng-container>
        <ng-template #hasImage>
            <div class="image-cropper">
                <img src="{{viewedUser.profilePicture}}" class="profile-class">
            </div>
        </ng-template>
        <ng-template #blankImage>
            <div class="profile-icon">
                <mat-icon [inline]="true">
                    account_circle
                </mat-icon>
            </div>
        </ng-template>
        <div class="user-container">
            <h1>{{viewedUser.userName}}</h1>
            <div>
                <p>Member since {{formatDate(viewedUser.createdAt)}}</p>
            </div>
        </div>
        <button mat-raised-button style="cursor: pointer;" color="primary" type="button" [disabled]="requestSent"
            (click)="sendFriendRequest()">{{buttonMessage}}</button>
    </div>
    <div class="card-container">
        <mat-card class="card-style">
            <mat-card-header>
                <mat-card-title>
                    <h2>Thread Highlights</h2>
                </mat-card-title>
            </mat-card-header>
            <div [ngSwitch]="userThreadHighlights && userThreadHighlights.length > 0" class="mat-card-container">
                <div *ngSwitchCase="true">
                    <mat-card-content>
                        <div *ngFor="let threadHighlight of userThreadHighlights" class="thread-item">
                            <mat-card>
                                <mat-card-content class="thread-content-container">
                                    <div class="row-div">
                                        <h4 (click)="openThread(threadHighlight)" class="thread-name-style">
                                            {{threadHighlight.threadName}}</h4>
                                        <mat-icon class="follow-icon" *ngIf="threadHighlight.isFollowing">
                                            favorite
                                        </mat-icon>
                                    </div>
                                    <p>{{threadHighlight.threadMessage}}</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-card-content>
                </div>
                <div *ngSwitchCase="false">
                    <mat-card-content>
                        <p>{{threadContent}}</p>
                    </mat-card-content>
                </div>
            </div>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card-style">
            <mat-card-header>
                <mat-card-title>
                    <h2>Game Highlights</h2>
                </mat-card-title>
            </mat-card-header>
            <div [ngSwitch]="userGameHighlights && userGameHighlights.length > 0" class="mat-card-container">
                <div *ngSwitchCase="true">
                    <mat-card-content>
                        <div *ngFor="let gameHighlight of userGameHighlights" class="game-item">
                            <mat-card>
                                <mat-card-content class="content-container">
                                    <img src="{{gameHighlight.game?.gameCoverFileName}}" class="game-image">
                                    <div class="column-div">
                                        <div class="row-div">
                                            <h3 class="name-style">{{gameHighlight.game?.gameName}}</h3>
                                        </div>
                                        <p>Enjoyment Rating: {{gameHighlight.gameEnjoymentRating}}/10</p>
                                        <p *ngIf="gameHighlight.achievementProgress != 0">Achievement Progress:
                                            {{gameHighlight.completedAchievements}}/{{gameHighlight.totalAchievements}}
                                        </p>
                                        <mat-progress-bar *ngIf="gameHighlight.achievementProgress != 0" class="progress-bar" [color]="color" [mode]="mode"
                                            [value]="(gameHighlight.achievementProgress) * 100" [bufferValue]="100">
                                        </mat-progress-bar>
                                        <mat-icon matTooltip="Click to read information about a game." color="primary"
                                                (click)="gameInfoPopup(gameHighlight.game)">
                                                info
                                        </mat-icon>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-card-content>
                </div>
                <div *ngSwitchCase="false">
                    <mat-card-content>
                        <p>{{gameContent}}</p>
                    </mat-card-content>
                </div>
            </div>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>