.view-user-profile-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 190px;
    margin-bottom: 10px;
    align-items: center;

}

.user-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.profile-class {
    width: 250px;
    height: 250px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-style {
    width: 200px;

}

.profile-icon {
    font-size: 250px;
}

.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.game-item {
    padding: 3px 3px 3px 3px;
}