.achievement-item {
    cursor: pointer;
}

.achievement-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.completed {
    background-color: #3cec00;
}

.in_progress {
    background-color: #adff91;
}

.not_started {
    background-color: #ffffff;
}

p {
    margin: 0
}

.icon-cropper {
    width: 70px;
    height: 70px;
    max-height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-size: 70px 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.blank-icon {
    font-size: 80px;
    background-size: 80px 80px;
    max-width: 80px;
    max-height: 80px;
}