.achievement-item {
    cursor: pointer;
}

.achievement-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.achievement-actions-container{
    display: flex;
    flex-direction: row;
}