<div class="child-component">
    <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="board-container mat-elevation-z4">
        <div fxFlex *ngFor="let board of allBoards" class="board-item">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>{{board.boardName}}</mat-card-title>
                  <mat-card-subtitle>This board discusses the game {{board.gameName}}. Click Open to explore!</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button mat-button>Follow</button>
                  <button mat-button>Open</button>
                </mat-card-actions>
              </mat-card>
        </div>
 
       <div class="paginator mat-elevation-z4" *ngIf="isLoadingResults == false && this.resultsLength !== 0">
         <mat-paginator #paginator [length]="resultsLength"[pageSize]="pageSize" [pageSizeOptions]="[5,10,25]" (page)="loadAllBoards($event)">
         </mat-paginator>
       </div>
   </div> 
</div>