<div class="child-component">
  <div class="example-container mat-elevation-z8">
    <div class="search-form-container">
      <form [formGroup]="boardSearchCriteria" style="margin-top: 25px;" (ngSubmit)="applyBoardSearch()">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput formControlName="searchTerm" placeholder="Search Table" #input>
        </mat-form-field>
        <mat-icon style="margin-left: 10px;cursor: pointer; color: green;" (click)="applyBoardSearch()">
          search
        </mat-icon>
        <mat-icon style="margin-left: 10px;cursor: pointer;" color="warn" (click)="clearBoardSearch()">
          clear
        </mat-icon>
      </form>
      <button *ngIf="user?.userRole == 1" mat-raised-button style="cursor: pointer; margin-top:25px;" color="primary" type="button" (click)="addBoard()">Add Board</button>
    </div>
    <br>
    <div class="mat-elevation-z4">
      <div fxFlex *ngFor="let board of dataSource.data" class="board-item">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{board.boardName}}</mat-card-title>
            <mat-card-subtitle class="open-board">This board discusses the game {{board.gameName}}.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <div class="card-actions-container">
              <ng-container *ngIf="board.isFollowing; then following; else notFollowing"></ng-container>
              <ng-template #following>
                <button mat-button (click)="unfollowBoard(board)" type="button">Unfollow</button>
                <button mat-button (click)="editBoard(board)" type="button">Edit</button>
                <button mat-button (click)="deleteBoard(board)" type="button">Delete</button>
                <button mat-button (click)="openBoard(board)" type="button">Open</button>
              </ng-template>
              <ng-template #notFollowing>
                <button mat-button (click)="followBoard(board)" type="button">Follow</button>
                <button mat-button (click)="editBoard(board)" type="button">Edit</button>
                <button mat-button (click)="deleteBoard(board)" type="button">Delete</button>
                <button mat-button (click)="openBoard(board)" type="button">Open</button>
              </ng-template>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <mat-paginator [pageSize]="this.pageSize" [pageIndex]="this.pageIndex" [pageSizeOptions]="[5, 10, 25, 50]"
                [length]="this.resultsLength" [showFirstLastButtons]="true"
                (page)="onPageChange($event)"></mat-paginator>
    </div>
  </div>
</div>