<div class="child-component">
    <div class="outer-container">
        <div class="header-container">
            <h1 class="title">GAMESHARE</h1>
        </div>
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="field-container">
                    <mat-form-field style="width:100%;" appearance="outline">
                        <label>Username</label>
                        <input matInput gameName="username" id="username" type="text" formControlName="username"
                            placeholder="Enter username" required />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>Password</label>
                        <input matInput gameName="password" id="password" type="text" formControlName="password"
                            placeholder="Enter password" required />
                    </mat-form-field>
                    <div
                        *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
                        <div *ngIf="loginForm.controls.username.errors?.['required']" style="text-align: center;">
                            Name is required.
                        </div>
                    </div>
                    <div
                        *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                        <div *ngIf="loginForm.controls.password.errors?.['required']" style="text-align: center;">
                            Password is required.
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <button class="button" mat-raised-button [disabled]="!loginForm.dirty || !loginForm.valid"
                        type="submit">Login</button>
                    <button class="button" mat-raised-button style="margin-left: 10px;"
                        [disabled]="!loginForm.dirty || !loginForm.valid" type="button"
                        (click)="onSignup()">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>