<ng-container
    *ngIf="mutualFriend.profilePicture != null && mutualFriend.profilePicture !== ''; then mutualHasImage; else mutualBlankImage"></ng-container>
<ng-template #mutualHasImage>
    <div class="mutual-style">
        <img src="{{mutualFriend.profilePicture}}" class="mutual-cropper">
        <h5 (click)="viewUserProfile()" class="friend-name">{{mutualFriend.userName}}</h5>
    </div>
</ng-template>
<ng-template #mutualBlankImage>
    <div class="mutual-style">
        <div class="mutual-profile-icon">
            <mat-icon [inline]="true">
                account_circle
            </mat-icon>
        </div>
        <h5 (click)="viewUserProfile()" class="friend-name">{{mutualFriend.userName}}</h5>
    </div>
</ng-template>