<div [ngSwitch]="mutualFriend.profilePicture != null && mutualFriend.profilePicture !== ''" class="mutual-container">
    <div *ngSwitchCase="true">
        <mat-card
            [ngClass]="{'accepted': mutualFriend.areFriends === 'accepted', 'pending': mutualFriend.areFriends === 'pending','rejected': mutualFriend.areFriends === 'rejected'}">
            <mat-card-content class="mutual-style">
                <img src="{{mutualFriend.profilePicture}}" class="mutual-cropper">
                <h5 (click)="viewUserProfile()" class="friend-name">{{mutualFriend.userName}}</h5>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngSwitchCase="false">
        <mat-card
            [ngClass]="{'accepted': mutualFriend.areFriends === 'accepted', 'pending': mutualFriend.areFriends === 'pending','rejected': mutualFriend.areFriends === 'rejected'}">
            <mat-card-content class="mutual-style">
                <mat-icon [inline]="true" class="mutual-profile-icon">
                    account_circle
                </mat-icon>
                <h5 (click)="viewUserProfile()" class="friend-name">{{mutualFriend.userName}}</h5>
            </mat-card-content>
        </mat-card>
    </div>
</div>