<div class="child-component">
  <div class="example-container">
    <h1>{{board.boardName}}</h1>
    <div class="search-form-container">
      <form [formGroup]="boardSearchCriteria" style="margin-top: 25px;" (ngSubmit)="applyBoardSearch()">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput formControlName="searchTerm" placeholder="Search Table" #input>
        </mat-form-field>
        <mat-icon style="margin-left: 10px;cursor: pointer; color: green;" (click)="applyBoardSearch()">
          search
        </mat-icon>
        <mat-icon style="margin-left: 10px;cursor: pointer;" color="warn" (click)="clearBoardSearch()">
          clear
        </mat-icon>
      </form>
      <button mat-raised-button style="cursor: pointer; margin-top:25px;" color="primary" type="button"
        (click)="addThread()">Add Thread</button>
    </div>
    <br>
    <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="thread-container mat-elevation-z4">
      <div fxFlex *ngFor="let thread of allThreads" class="thread-item">
        <mat-card (click)="openThread(thread)" class="thread-card">
          <mat-card-header>
            <mat-card-title>{{thread.threadName}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="saveThread(thread)">Save</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>