<div class="child-component">
    <div class="example-container mat-elevation-z8">
        <div class="search-form-container">
            <form [formGroup]="threadSearchCriteria" style="margin-top: 25px;" (ngSubmit)="applyThreadSearch()">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput formControlName="searchTerm" placeholder="Search Table" #input>
                </mat-form-field>
                <mat-icon style="margin-left: 10px;cursor: pointer; color: green;" (click)="applyThreadSearch()">
                    search
                </mat-icon>
                <mat-icon style="margin-left: 10px;cursor: pointer;" color="warn" (click)="clearThreadSearch()">
                    clear
                </mat-icon>
            </form>
            <button mat-raised-button style="cursor: pointer; margin-top:25px;" color="primary" type="button"
                (click)="addThread()">Add Thread</button>
        </div>
        <br>
        <div>
            <table mat-table [dataSource]="threadDataSource" class="table mat-elevation-z8" matSortActive="threadID"
                matSortDisableClear matSortDirection="asc" matSort #sort="matSort">

                <!-- threadID Column -->
                <ng-container matColumnDef="threadID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ThreadID </th>
                    <td mat-cell *matCellDef="let element"> {{element.threadID}} </td>
                </ng-container>

                <!-- boardID Column -->
                <ng-container matColumnDef="boardID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> BoardID </th>
                    <td mat-cell *matCellDef="let element"> {{element.boardID}} </td>
                </ng-container>

                <!-- boardName Column -->
                <ng-container matColumnDef="boardName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Board Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.boardName}} </td>
                </ng-container>

                <!-- gameName Column -->
                <ng-container matColumnDef="threadName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ThreadName </th>
                    <td mat-cell *matCellDef="let element"> {{element.threadName}} </td>
                </ng-container>

                <!-- createdAt Column -->
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
                    <td mat-cell *matCellDef="let element"> {{formatDate(element.createdAt)}} </td>
                </ng-container>

                <!-- updatedAt Column -->
                <ng-container matColumnDef="updatedAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated At </th>
                    <td mat-cell *matCellDef="let element"> {{formatDate(element.updatedAt)}} </td>
                </ng-container>

                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="editThread(element)">
                            <mat-icon class="icon-class">
                                edit
                            </mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteThread(element)">
                            <mat-icon class="icon-class">
                                delete
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedBoardColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedBoardColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "</td>
                </tr>
            </table>
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 100]"
                [showFirstLastButtons]="true" [length]="resultsLength">
            </mat-paginator>
        </div>
    </div>
</div>