<div class="child-component">
    <div [hidden]="this.dataLoaded" class="form-column">
        <div style="text-align: center;">
            <h1 style="color: #ff0000">Warning</h1>
            <h2>You are about to delete the {{model}} {{name}}</h2>
            <h4>You will not be able to recover this {{model}}!</h4>
        </div>
        <div class="form-row">
            <button mat-raised-button type="submit" (click)="onSubmit()">Delete</button>
            <button mat-raised-button type="button" style="margin-left:10px;" (click)="closeDialog()">Cancel</button>
        </div>
        <br>
    </div>
</div>