.accepted {
    background-color: #c2d8fe;
}

.pending {
    background-color: azure;
}

.rejected {
    background-color: rgb(255, 208, 208);
}

.friend-item {
    cursor: pointer;
}

.friend-content {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.friend-style {
    cursor: pointer;
    margin-top: 7px;
    color: #673ab7;
}

.friend-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.friendship-details-container{
    margin-right: 20px;
}

.icon-style {
    cursor: pointer;
}

.friend-name {
    cursor: pointer;
    color: #673ab7;
}

.profile-icon {
    font-size: 100px;
    background-size: 100px 100px;
}

.image-cropper {
    width: 90px;
    height: 90px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-size: 100px 100px;
}

.mutual-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mutual-friend-padding {
    padding: 3px 3px 3px 3px;
}

.title-style {
    text-align: center;
    margin-top: 7px;
}