.friend-item {
    cursor: pointer;
}

.friend-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.friend-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.icon-style {
    cursor: pointer;
}

.friend-name {
    cursor: pointer;
    color: #673ab7;
}