.accepted {
    background-color: #c2d8fe;
}

.pending {
    background-color: azure;
}

.rejected {
    background-color: rgb(255, 208, 208);
}

.friend-item {
    cursor: pointer;
}

.friend-content {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.friend-style {
    cursor: pointer;
    color: #673ab7;
}

.friend-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.friendship-details-container{
    margin-right: 20px;
}

.icon-style {
    cursor: pointer;
}

.friend-name {
    cursor: pointer;
    color: #673ab7;
}

.profile-icon {
    font-size: 100px;
    background-size: 100px 100px;
    max-width: 100px;
    max-height: 100px;
}

.image-cropper {
    width: 90px;
    height: 90px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-size: 100px 100px;
}

.mutual-friends-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.mutual-friends-row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.mutual-friend-padding {
    padding: 3px 3px 3px 3px;
}

.title-style {
    text-align: center;
}

h4 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.mdc-card__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 0px;
    padding: 0px;
}